extends ../layout

block content
  .container
    .row
      .col-xs-12
        form#lapse-settings
          header
            h1 Ember Time Machine
          label IP Address
          input(id='time-machine-ip' type='text', name='ip', value='#{ip}')
          label Frames Per Second
          input(id='time-machine-fps' type='text', name='fps', value='#{fps}')
          label Video Length (seconds)
          input(id='time-machine-video-length' type='text', name='videoLength', value='#{videoLength}')
          br
          input(class="submit" type='submit', value='Update')
  script(src='/js/vendor/jquery.min.js')
  script(src='/js/vendor/bootstrap.min.js')
  script(src='/js/TimeMachine/client.js')
