/* CSS declarations go here */
body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #E7614C;
}

input {
  padding: 20px;
  width: 100%;
  font-size: 20px;
  display: block;
  outline: none;
  color: #313130;
  border: none;
  border-radius: 2px;
}

.update-settings {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding-top: 10%;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
}
